/* Currently inactive, code is in index.html*/
body {
	background-color: #EAEAEA;
}

h1 {
	color: navy;
	font-family: arial;
	font-size: 20px;
}
		
p {
	font-family: garamond;
	font-size: 18px;
	color: darkred;
	font-weight: bold;
}
	
h4 {
	font-family: garamond;
	font-size: 18px;
}

#q1 {
	color: #228b22;
} 

#q2 {
	color: #228b22;
} 

#q3 {
	color: #228b22;
} 
