body {
	background-color: #EAEAEA;
}

h1 {
	color: navy;
	font-family: arial;
	font-size: 20px;
}
				
p {
	font-family: garamond;
	font-size: 18px;
	color: purple;
	font-weight: bold;
}
			
h4 {
	font-family: garamond;
	font-size: 18px;
}

#correct1 {
	color: #228b22;
} 

#correct2 {
	color: #228b22;
} 

#correct3 {
	color: #228b22;
} 

#incorrect1 {
	color: red;
} 

#incorrect2 {
	color: red;
} 

#incorrect3 {
	color: red;
} 
